{% extends "base.html" %}

{% block title %} Carrello {% endblock %}

{% block web_state %} Carrello {% endblock %}

{% block content %}
    <div class="container">
        {% if cart %}
            <h3>Il tuo carrello</h3>
            {% for item in cart %}
                <div class="card mb-3" style="max-width: 740px;">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="{{ item.product.image.url }}" class="img-fluid rounded-start" alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title"> {{ item.product.name }} </h5>
                                <p class="card-text"> {{ item.product.description }} </p>
                                <p class="card-text"><small class="text-muted"> {{ item.product.price }}€ </small></p>
                            </div>
                            <hr>
                            <div style="text-align: center">
                                <p>
                                    <b>Quantità: </b> {{ item.quantity }} <br>
                                </p>
                            </div>
                            <div style="display: flex">
                                <a href="{% url "change_quantity" item.product.id %}?action=decrease"
                                   class="btn btn-primary">Diminuisci quanità</a>
                                <a href="{% url "change_quantity" item.product.id %}?action=increase"
                                   class="btn btn-primary">Aumenta quanità</a>
                                <a href="{% url "remove_from_cart" item.product.id %}" class="btn btn-primary">Rimuovi
                                    dal carrello</a>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
            <hr>
            <h4 style="text-align: center"><strong>Totale: </strong> {{ cart.get_total_cost }}€</h4>
        {% else %}
            <h3 style="text-align: center">Il tuo carrello è vuoto</h3>
        {% endif %}
    </div>

{% endblock %}
